// These colors are specific to the theme. Do not use in a package!

@very-light-gray:   #56a2ff;
@light-gray:        #7ebdd5;
@gray:              #373b41;
@dark-gray:         #3A3222;
@very-dark-gray:    #3c3d39; // background

@green:             #ECE2CF; // strings
@teal:              #007bff;
@light-teal:        #ffffff;
@cyan:              #9eb1ff;
@blue:              #dcc59a;
@indigo:            #ffffff;
@purple:            #6242f4;
@pink:              #15578e;
@red:               #00d1ff;
@strong-orange:     #52ff9f;
@orange:            #0040ff;  //
@light-orange:      #ff8042;;  // variables
